<article class="article">
    <header class="page-header">
        <h1 title="{{article.title}}" class="article-title">
            {{article.title}}
            {{#if article.internal}}
                <span class="icon-lock" title="{{t 'internal'}}"></span>
            {{/if}}
        </h1>
    </header>

    <section class="article-content content">
        <div class="article-body">{{article.body}}</div>

        <div class="article-attachments">
            <ul class="attachments">
                {{#each attachments}}
                    <li class="attachment-item">
                        <a href="{{url}}" target="_blank">{{name}}</a>
                        <div class="attachment-meta meta-group">
                            <span class="attachment-meta-item meta-data">{{size}}</span>
                            <a href="{{url}}" target="_blank"
                               class="attachment-meta-item meta-data">Download</a>
                        </div>
                    </li>
                {{/each}}
            </ul>
        </div>
    </section>

    <footer>
        <div class="article-author">
            <div class="article-meta">
                Written by

                {{#link 'user_profile' id=article.author.id}}
                    {{article.author.name}}
                {{/link}}

                <ul class="meta-group">
                    {{#is article.created_at article.updated_at}}
                        <li class="meta-data">{{date article.created_at timeago=true}}</li>
                    {{else}}
                        {{#if article.updated_at}}
                            <li class="meta-data">{{t 'updated'}} {{date article.updated_at
                                                                         timeago=true}}</li>
                        {{/if}}
                    {{/is}}
                </ul>
            </div>

            <div class="avatar article-avatar">
                <img src="{{article.author.avatar_url}}" alt="Avatar" class="user-avatar"/>
            </div>
        </div>
        <div class="article-footer">
            <div class="article-nav-box">
                <a v-if="nav.prev" :href="nav.prev.html_url" class="article-nav article-nav-prev">
                    <span class="article-nav-label">Prev</span>
                    <span class="article-nav-title">{[{nav.prev.title}]}</span>
                </a>
            </div>
            <div class="article-nav-box">
                <a v-if="nav.next" :href="nav.next.html_url" class="article-nav article-nav-next">
                    <span class="article-nav-label">Next</span>
                    <span class="article-nav-title">{[{nav.next.title}]}</span>
                </a>
            </div>
        </div>

    </footer>
</article>
