<header class="header">
    <div class="logo">
        {{#link 'help_center' class='logo-link' }}
            <img src="{{logo_url}}" alt="{{t 'logo'}}">
        {{/link}}
    </div>

    {{search submit=false instant=true}}

    <div class="nav-wrapper">
        <nav class="user-nav" id="user-nav">
            {{link 'new_request'}}
        </nav>

        {{user_info}}
    </div>
</header>

<div class="mobile-search-wrapper">
    {{search submit=false instant=true}}
</div>

<main class="main-sidebar" role="main">
    <div id="sidebar" class="sidebar-panel">
        <ul class="sidebar">
            <li class="sidebar-item sidebar-home">
                <a href="{{page_path 'help_center'}}" class="sidebar-item-title">
                    Home
                </a>
            </li>

            <li class="sidebar-section" v-for='category in categories' :data-id='category.id'>
                <h4 class="sidebar-category-title" v-cloak>{[{category.name}]}</h4>
                <ul>
                    <li :class="['sidebar-item', isOpen(section.id)]" v-for='section in category.sections'
                        :data-id='section.id'>
                          <span class="sidebar-item-title" @click='setActiveSection(section.id)'>
                            {[{section.name}]}
                          </span>
                        <ul v-if='section.id === activeSection'>
                            <li :class="['sidebar-item', isCurrent(article.id)]" v-for='article in section.articles'>
                                <a :href='article.html_url' class="sidebar-item-link">
                                    {[{article.title}]}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="container">
