<article class="home-page">
    <h1 class="home-title">
        {{settings.homepage_title}}
    </h1>

    <p class="home-desc">
        {{settings.homepage_description}}
    </p>

    <section class="home-page-section knowledge-base">
        <ul class="blocks-list">
            {{#each categories}}
                <li class="blocks-item">
                    <a href='{{url}}' class="blocks-item-link">
                        <h3 class="blocks-item-title">
                            {{name}}
                        </h3>

                        <p class="blocks-item-description">{{excerpt description}}</p>
                    </a>
                </li>
            {{/each}}
        </ul>
        {{pagination}}
    </section>
</article>
